{% schema %}
{
  "name": "Hero Banner",
  "settings": []
}
{% endschema %}

<div class="container">
  <div class="frame1">
    <div class="img-1">
      <div class="header">
        <h3>TISSO VISION</h3>
        <h5>Find the ideal gift for your loved ones</h5>
        <button id="btn">CHOOSE GIFT</button>
      </div>
    </div>
  </div>
</div>

{% style %}
.container {
  width: 100%;
}

.frame1 {
  position: relative;
  width: 100%;
  height: 400px;
}

.img-1 {
  width: 100%;
  height: 400px;
  background-image: url({{ 'Frame.svg' | asset_url }});
  background-size: cover;
  background-position: center;
  position: relative;
}

.header {
  width : 100%;
  display : flex;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7); /* Light background */
  padding: 20px;
  border-radius: 10px;
}

.header h3 {
  margin: 0;
  font-size: 24px;
}

.header h5 {
  margin: 5px 0;
  font-size: 16px;
}

#btn {
  background-color: yellow;
  padding: 10px 15px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
{% endstyle %}
