{% schema %}
{
  "name": "Hero Banner",
  "settings": []
}
{% endschema %}

<div class="container">
  
  <div class="frame1">
    
    <div class="img-1">
      <div class="header">
        <h2>TISSO VISION</h2>
        <h5>Find the ideal gift for your loved ones.</h5>
        <button id="btn">CHOOSE GIFT <span class="arrow">→</span></button>
      </div>
    </div>

    <div class="guide-session" >
      <div class="session-side1" >
        <h1>The Gift Guide</h1>
        <div class="para" >
          <h6>Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</h6>
        </div>
        <button id="shop-btn" >SHOP NOW <span class="arrow">→</span></button>
      </div>
      <div class="session-side2" >
      </div>
      <div class="banner" >
        <h5>SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL</h5>
      </div>
    </div>
  </div>
  
</div>

{% style %}
*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: 'Oswald', sans-serif;
}

.img-1 {
  padding-left : 20px;
  width: 100%;
  height: 420px;
  background-image: url({{ 'Frame.svg' | asset_url }});
  background-size: cover;
  background-position: center top -87px ;
  position: relative;
}

.header {
  width : 100%;
  height:60px;
  display : flex;
  align-items : center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgb(248, 245, 245);
  padding: 2px;
}

.header h2 {
  margin-left : 30px;
}

.header h5 {
  font-weight : normal;
  flex-grow :1
}

#btn {
  margin-right : 10px;
  background-color: yellow;
  padding: 10px 25px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  cursor : pointer;
}
.arrow {
  margin-left : 8px;
  font-size: 16px;
  font-weight: bolder;
}
.guide-session{
  display : flex;
  justify-content : center;
  align-items : center;
  margin-top : 5px;
  position : relative;
  
}
.guide-session .para{
  width : 450px;
  font-size : 24px;
  margin-top : 30px;
}

.guide-session h1{
  font-size : 55px;
}
.para h6{
  font-weight : normal;
}

#shop-btn{
  margin-top : 30px;
  padding: 10px 30px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.session-side1 {
  margin-left : 30px;
  width: 45%;
  flex-grow: 1;
}
  
.session-side2 {
  width: 55%;
  height: 420px;
  background-image: url({{ 'Frame.svg' | asset_url }});
  background-size: cover;
  position: relative;
}
.banner{
  position: absolute;
  bottom : 28px;
  left : 0;
  transform : transalte(-50%);
  width : 100%;
  height:35px;
  text-align: center;
  background-color: rgb(248, 245, 245);
  padding: 10px;
}
.banner h5{
  font-weight:normal;
}

{% endstyle %}
