{% schema %}
{
  "name": "Hero Banner",
  "settings": []
}
{% endschema %}

<div class="container">
  
  <div class="frame1">
    
    <div class="img-1">
      <div class="header">
        <h3>TISSO VISION</h3>
        <h5>Find the ideal gift for your loved ones</h5>
        <button id="btn">CHOOSE GIFT</button>
      </div>
    </div>
    
  </div>
  
</div>

{% style %}
*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}
.container {
  width: 100%;
}

.img-1 {
  width: 100%;
  height: 440px;
  background-image: url({{ 'Frame.svg' | asset_url }});
  background-size: cover;
  background-position: center;
  position: relative;
}

.header {
  width : 100%;
  height:60px;
  display : flex;
  align-items : center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: lightgray;
  padding: 2px;
}

.header h3 {
  margin-left : 30px;
  font-size: 24px;
}

.header h5 {
  font-size: 16px;
  flex-grow :1
}

#btn {
    margin-right : 10px;
  background-color: yellow;
  padding: 10px 15px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
{% endstyle %}
