{% schema %}
{
  "name": "Hero Banner",
  "settings": [
  ],
}
{% endschema %}

<div class="container" >
  <div class="frame1" >
    <div class="img-1" >
      
    </div>
    <div class="img-2" >
      
    </div>
      
  </div>
  <div class="fram2" >
    
  </div>
</div>

<img src={{ 'Frame.svg' | asset_url }} alt="background-img" class="full-width-img">

{% style %}
.full-width-img {
    padding:12px ;
    width: 100vw;  /* Full width of the page */
    height: 400px; /* Fixed height */
    object-fit: cover; /* Ensures it fills the area without distortion */
    display: block; /* Removes any unwanted spaces */
}
{% endstyle %}