{% schema %}
{
  "name": "Hero Banner",
  "settings": [
  ],
}
{% endschema %}

<div class="container" >
  <div class="frame1" >
    <div class="img-1" >
      <img src={{ 'Frame.svg' | asset_url }} alt="background-img" class="full-width-img>
    </div>
    <div class="img-2" >
      
    </div>
      
  </div>
  <div class="fram2" >
    
  </div>
</div>


{% style %}
.full-width-img {
    width: 100vw;
    height: 400px; 
    object-fit: cover; 
    display: block; 
}
{% endstyle %}