{% schema %}
{
  "name": "Hero Banner",
  "settings": [
  ],
}
{% endschema %}

<div class="container" >
  <div class="frame1" >
    
    <div class="img-1" style="background-image:url('Frame.svg' | asset_url)" >
      <div class="header" >
        <h3>Tisso vision</h3>
        <h5>Find the ideal gift for your loved ones</h5>
        <button>Choose gift</button>
      </div>
    </div>
    
    <div class="img-2" ></div>
  </div>
  
  <div class="fram2" ></div>
</div>


{% style %}
.full-width-img {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
    display: block; 
}
{% endstyle %}