{% schema %}
{
  "name": "Hero Banner",
  "settings": [
  ],
}
{% endschema %}

<div class="container" >
  <div class="frame1" >
    
    <div class="img-1" style="background-image:url('Frame.svg' | asset_url)" >
      <div class="header" >
        <h3>TISSO VISION</h3>
        <h5>Find the ideal gift for your loved ones</h5>
        <button id="btn" >Choose gift</button>
      </div>
    </div>
    
    <div class="img-2" ></div>
  </div>
  
  <div class="fram2" ></div>
</div>


{% style %}
.header{
  padding: 2px;
  position : absolute;
  z-index : 10;
  background-color : 'lightgray'
}
#btn{
  background-color:'yellow' ;
  color
}
{% endstyle %}