{% schema %}
{
  "name": "Featured Collection",
  "settings": []
}
{% endschema %}

<section class="featured-collection">
  <div class="container">
    <h2>Tisso vision in the wild</h2>
    <div class="grid">
      {% for product in collections['all'].products limit:6 %}
        <div class="product">
          <img src="{{ product.featured_image | img_url }}" alt="{{ product.title }}">
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% style %}

.featured-collection {
  padding: 50px 0;
  text-align: center;
}
.container h2{
  text-align : start;
  margin-left : 20px;
  font-weight : normal;
}
.grid {
  padding: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  justify-content: center;
  align-items: start;
}

.product {
  height: 350px; 
}

.product img {
  width: 100%;  
  height: 100%; 
  object-fit: cover;
}
{% endstyle %}
